.movieListPageContainer {
    position: relative;
}

.movieListPage {
    /* background-color: #141414; */
    background-color: black;
    height: 100%;
    z-index: 1000;
}

.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(89, 89, 89, 0.7);
    z-index: 999999;
}