.bannerImage {
    position: relative;
    height: 600px;
    object-fit: contain;
    margin-bottom: 20px;
}

.movieDescriptionContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 400px;
    left: 40px;
    bottom: 40px;
}

.movieDescriptionTitle, .movieDescriptionTagline, .movieDescriptionOverview {
    color: white;
}

.movieDescriptionButtons {
    display: flex;
    margin-top: 10px;
}

.movieDescriptionPlayButton {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-width: 107px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

.movieDescriptionPlayButton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.movieDescriptionDetailInfo {
    display: flex;
    align-items: center;
    background-color: rgb(100, 92, 91);
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border: 1px solid rgb(100, 92, 91);
    border-radius: 5px;
    margin-left: 5px;
}

.movieDescriptionDetailInfo:hover {
    opacity: 0.7;
    cursor: pointer;
}

.movieDescriptionPlayIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.movieDescriptionDetailInfoIcon {
    color: white;
    width: 24px;
    height: 24px;
}

.movieDescriptionDetailInfoText {
    color: white;
    margin-left: 5px;
}