.row {
    position: relative;
    margin-bottom: 20px;
}

.genreName {
    font-size: 18px;
    font-weight: 500;
    color: rgb(229, 229, 229);
    text-align: left;
    justify-content: left;
    padding-left: 40px;
    margin: 0;
}

.genreData {
    position: relative;
    display: flex;
    flex-direction: row;
}

.genreData:hover .slider-left {
    transition: 400ms all ease-in-out;
    visibility: visible;
}

.genreData:hover .slider-right {
    transition: 400ms all ease-in-out;
    visibility: visible;
}

.slider-left {
    background-clip: content-box;
    padding: 20px 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.slider-right {
    background-clip: content-box;
    padding: 20px 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.slider-left:hover, .slider-right:hover {
    background: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
}

.arrow {
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.genrePosters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 40px;
    scroll-behavior: smooth;
    cursor: pointer;
}

.genrePosters::-webkit-scrollbar {
    display: none;
}

.genrePosterContainer {
    padding-left: 2.5px;
    padding-right: 2.5px;
    transition: transform 450ms;
    cursor: pointer;
}

.genrePosterContainer:hover {
    transform: scale(1.2);
    background-color: rgb(20, 20, 20);
}

.genrePoster {
    width: 300px;
    object-fit: contain;
    border-radius: 8px;
}

.movieDetailInfoContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 10px;
}

.movieDetailInfoRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circlePlayIcon, .circlePlusIcon, .circleThumbIcon, .arrowDownIcon {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.circlePlayIcon:hover, .circlePlusIcon:hover, .circleThumbIcon:hover, .arrowDownIcon:hover {
    color: lightgray;
}

.movieDetailRuntime {
    font-size: 16px;
    font-weight: 400;
    color: rgb(188, 188, 188);
    padding-left: 5px;
}

.movieDetailDataGenreName {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    padding-left: 5px;
}